.header {
    background-color: #f9473c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81px;
}

.header__text {
    margin-left: 58px;
    font-size: 16px;
}

@media (max-width: 770px) {
    .warning-img {
        display: none;
    }

    .header__text {
        margin-left: 0;
        width: 80%;
        font-size: 16px;
        line-height: 170%;
    }

    .header {
        height: 108px;
    }
}