@font-face {
    font-family: 'Segoe WP';
    src: url('../../fonts/SegoeWP-Light.eot');
    src: url('../../fonts/SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SegoeWP-Light.woff2') format('woff2'),
        url('../../fonts/SegoeWP-Light.woff') format('woff'),
        url('../../fonts/SegoeWP-Light.ttf') format('truetype'),
        url('../../fonts/SegoeWP-Light.svg#SegoeWP-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('../../fonts/SegoeWP.eot');
    src: url('../../fonts/SegoeWP.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SegoeWP.woff2') format('woff2'),
        url('../../fonts/SegoeWP.woff') format('woff'),
        url('../../fonts/SegoeWP.ttf') format('truetype'),
        url('../../fonts/SegoeWP.svg#SegoeWP') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SimploW90-CapsDEMO';
    src: url('../../fonts/SimploW90-CapsDEMO.eot');
    src: url('../../fonts/SimploW90-CapsDEMO.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SimploW90-CapsDEMO.woff2') format('woff2'),
        url('../../fonts/SimploW90-CapsDEMO.woff') format('woff'),
        url('../../fonts/SimploW90-CapsDEMO.ttf') format('truetype'),
        url('../../fonts/SimploW90-CapsDEMO.svg#SimploW90-CapsDEMO') format('svg');
    font-weight: normal;
    font-style: normal;
}