*, 
*:before, 
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
    // font-family: 'Great Vibes', cursive;
	// font-family: 'Montserrat', sans-serif;
	// font-family: 'PT Serif', serif;
	font-size: 13px;
	color: #8b8b8b;
    text-align: center;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.btn {
	border: 0;
	transition: all .2s linear;
	cursor: pointer;
	outline: none;
}

a {
	text-decoration: none;
}
