.reselling-intro {
    .services-intro__top {
        background: url(../img-min/reselling-intro-bg.png) no-repeat center;
    }

    .services-intro__btn-text_active {
        background: #22C9CF;
    }

    .services-intro__items {
        justify-content: center;
        margin-top: -260px;
        margin-bottom: 0;
        padding-bottom: 58px;
    }

    .services-intro__price {
        color: #22C9CF;
    }

    .services-intro__order {
        background: #22C9CF;;
    }

    .services-intro__item-header {
        background: url(../img-min/reselling-top-bg.png) no-repeat center;
    }
}