.advantages {
    position: relative;
}

.advantages__title {
    font-size: 36px;
    line-height: 57px;
    color: #000000;
    font-weight: 400;
}

.advantages__why {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #2775FF;
    padding-bottom: 50px;
}

.advantages__blocks {
    display: flex;
    text-align: left;
    justify-content: center;
}

.advantages__item {
    max-width: 370px;

    &:not(:last-child) {
        margin-right: 13vw;
    }
}

.advantages__item-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    color: #000000;
}

.advantages__item-text {
    line-height: 22px;
    color: #000000;
    padding-bottom: 43px;
}

.advantages__img {
    position: absolute;
    top: 0;
    left: 0;
}

.advantages__btns {
    padding-top: 25px;
    padding-bottom: 57px;
    display: flex;
    justify-content: center;
}

.advantages__reg {
    background: linear-gradient(90deg, #2775FF 0%, #6C27FF 100%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 37px;
    margin-right: 60px;
}

.advantages__calc {
    background: #FFFFFF;
    border: 2px solid #2775FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 37px;
}