*, 
*:before, 
*:after {
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
    text-align: center;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.btn {
	border: 0;
	transition: all .2s linear;
	cursor: pointer;
	outline: none;
}

.btn-white {
	background-color: #fff;
	color: #000000;
}

.btn-transparent {
	background-color: transparent;
	color: #fff;
	border: 2px solid #FFFFFF;
}

.btn-blue {
	background-color: #2775FF;
	color: #fff;
}

a {
	text-decoration: none;
}