.intro {
    background: #254388 url(../img-min/intro-bg.png) center no-repeat;
    background-size: cover;
    width: 100%;
}

.intro__title {
    margin: 0 auto;
    padding-top: 235px;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    letter-spacing: -0.05em;
    max-width: 1140px;
}

.intro__subtitle {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 58px auto;
}

.btn-inner {
    display: flex;
    justify-content: center;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 32px;
}

.btn-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 43px;
    margin-right: 45px;
    border-radius: 50px;
}

.btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 43px;
    border-radius: 50px;
}

.btn-calc {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 43px;
    border-radius: 50px;
//    margin-bottom: 135px;
}

.transparent {
    height: 135px;
}