.statistic {
    background: url(../img-min/statistic-bg.png) center no-repeat;
    background-size: cover;
    position: relative;
}

.statistic__subtitle {
    padding-top: 181px;
    padding-bottom: 21px;
    font-weight: 300;
    font-size: 24px;
    line-height: 157%;
    color: #FFFFFF;
}

.statistic__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 157%;
    color: #FFFFFF;
    padding-bottom: 27px;
}

.statistic__hand-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand {
    margin: 0 35px;
    position: relative;
    width: 32px;
    height: 32px;

}

.rect {
    width: 50px;
    height: 2px;
    background-color: #fff;
}

.statictic__blocks {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 105px;
}

.statistic__item {
    display: flex;
    align-items: flex-end;

    &:not(:last-child) {
        padding-right: 80px;
    }
}

.statistic__icon {
    width: 64px;
    height: 64px;
}
.statistic__text {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    text-align: left;
    line-height: 50%;
    padding-left: 31px;

    & span {
        font-size: 14px;
        font-weight: 300;
    }
}

.statistic__btns {
    display: flex;
    justify-content: center;
    padding-bottom: 149px;
}

.statistic__reg {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 256px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.statistic__calc {
    background: #FFFFFF;
    border: 2px solid #2775FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #2775FF;
    width: 254px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}