@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #717171;
  margin: 0 auto;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.btn {
  border: 0;
  transition: all .2s linear;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn:hover {
    background-color: rgba(0, 170, 254, 0.2) !important;
    border: 1px solid #00aafe !important;
    color: #00aafe !important; }

.z-index {
  z-index: 1211 !important; }

.d-none {
  display: none !important; }

.opacity {
  opacity: 0; }

.none {
  display: none !important; }

.fw-500 {
  font-weight: 500 !important; }

.no-wrap {
  white-space: nowrap; }

.section {
  margin-left: 145px;
  padding-top: 60px; }

.section__title {
  color: #686868;
  font-size: 24px;
  font-weight: 500; }

.d-fade {
  display: none !important; }

.page {
  display: none; }

.page_active {
  display: block; }

.collective {
  display: none; }

.collective-active {
  display: block; }

.individual {
  display: none; }

.individual-active {
  display: block; }

.diagramma {
  display: none; }

.diagramma_active {
  display: block; }

.modals {
  display: none; }

.modals_active {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2222;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.56); }

table svg {
  cursor: pointer; }

.active-btn {
  width: 173px;
  height: 49px;
  box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
  border-radius: 2px;
  background-color: #00aafe;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500; }

.unactive-btn {
  width: 175px;
  height: 49px;
  box-shadow: 0 14px 25px #6ee4d7;
  border-radius: 2px;
  background-color: #6ee4d7;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
  margin-right: 10px; }

::-webkit-scrollbar-track {
  background-color: #fff;
  margin-right: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #d7d7d7;
  margin-right: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #d7d7d7; }

::-webkit-scrollbar {
  width: 2px;
  padding-right: 10px; }

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto; }

.header {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #e2e6f2;
  background-color: #fff;
  position: relative;
  z-index: 1; }

.textarea {
  padding-top: 14px;
  min-height: 45px !important; }

.logo {
  margin-right: auto;
  margin-left: 22px;
  height: 60px; }

.search {
  margin-left: auto;
  display: flex;
  align-items: center; }
  .search__input {
    color: #bcbbbb;
    font-size: 15px;
    line-height: 24px;
    border: 0;
    width: 207px;
    margin-right: 58px;
    margin-left: 10px;
    outline: none; }
    .search__input::placeholder {
      color: #bcbbbb;
      font-size: 15px;
      line-height: 24px; }

.user {
  height: 70px;
  border-left: 1px solid #e2e6f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .user__photo {
    width: 40px;
    height: 40px;
    margin-right: 34px;
    margin-left: 30px;
    margin-bottom: 5px; }
  .user__exit {
    text-decoration: none;
    font-size: 12px;
    border-bottom: 1px solid #946eb6; }

.nav {
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 1px solid #e2e6f2;
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav__inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nav__inner-item {
      cursor: pointer;
      position: relative;
      transition: all .2s linear; }
    .nav__inner-item:not(:last-child) {
      margin-bottom: 25px; }

.nav__inner-item:before {
  transition: all .2s linear;
  content: '';
  display: block;
  width: 3px;
  height: 0;
  background-color: #00aafe;
  position: absolute;
  top: 0;
  right: -30px;
  z-index: 22; }

.active-svg {
  transition: all .2s linear;
  position: relative; }
  .active-svg path {
    fill: #00aafe; }
  .active-svg:before {
    content: '';
    display: block;
    width: 3px;
    height: 24px;
    background-color: #00aafe;
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 22; }

.nav__inner-item:hover path {
  fill: #00aafe; }

.intro {
  padding-top: 30px;
  border-bottom: 1px solid #e2e6f2;
  width: calc(100vw - 80px);
  margin-left: 80px; }

.intro__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 41px; }
  .intro__inner .crumbs {
    margin-bottom: 0; }

.intro__inner-nav {
  display: flex;
  align-items: center;
  color: #dbdbdb;
  font-size: 14px;
  font-weight: 500; }

.arrow-back {
  width: 18px;
  height: 9px;
  margin-left: 64px;
  margin-right: 7px; }

.arrow-next {
  width: 18px;
  height: 9px;
  margin-left: 7px;
  margin-right: 64px; }

.crumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 42px; }
  .crumbs__before {
    color: rgba(113, 113, 113, 0.65); }
  .crumbs__current {
    color: #000000; }

.tab {
  position: relative;
  display: inline-block;
  padding-bottom: 9px;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500;
  margin-left: 65px;
  cursor: pointer;
  transition: all .2s linear; }
  .tab:before {
    transition: all .2s linear;
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    background-color: #00aafe;
    position: absolute;
    left: 0;
    bottom: 0; }

.inner-nav {
  display: flex;
  align-items: center;
  margin-left: 65px; }
  .inner-nav .tab {
    white-space: nowrap;
    margin-left: 0;
    border: none;
    color: #686868; }
    .inner-nav .tab:not(:last-child) {
      margin-right: 31px; }
  .inner-nav img {
    display: inline !important;
    margin-left: 4px;
    margin-bottom: -2px; }

.tab-active {
  color: #00aafe !important;
  position: relative;
  transition: all .2s linear; }
  .tab-active:before {
    transition: all .2s linear;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #00aafe;
    position: absolute;
    left: 0;
    bottom: 0; }

.main .periods {
  align-items: flex-start; }

.forms {
  padding-top: 48px;
  display: flex; }

.periods {
  display: flex;
  align-items: center;
  margin-right: 44px; }
  .periods__date {
    display: flex;
    flex-direction: column; }
  .periods_title {
    margin-left: 193px; }

.festivals {
  display: flex; }
  .festivals__inner {
    display: flex;
    flex-direction: column; }
  .festivals__btns {
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: space-between;
    width: 369px; }

.forms__title {
  font-weight: 500;
  padding-bottom: 8px; }

.periods__input {
  width: 175px;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  padding-left: 21px;
  color: #686868;
  font-weight: 500;
  margin-right: 19px; }
  .periods__input_transport {
    width: 370px; }
  .periods__input_transport-large {
    width: 467px; }
  .periods__input_large {
    width: 872px;
    margin-bottom: 30px; }
  .periods__input_big {
    width: 272px;
    margin-bottom: 30px; }
  .periods__input_medium {
    width: 175px; }
  .periods__input_small {
    width: 76px; }
  .periods__input::placeholder {
    color: #c9c9c9;
    font-weight: 500; }

.periods__btn {
  margin-top: 40px; }

.festivals__select {
  width: 369px;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  color: #686868;
  font-size: 15px;
  font-weight: 500; }

.radio {
  padding-top: 40px; }

.forms-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 40px 10px 0 0;
  outline: none; }

.forms-radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  outline: none; }

.forms-radio + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid #00aafe;
  border-radius: 50%;
  background: #FFF;
  outline: none; }

.forms-radio + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00aafe;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .2s;
  outline: none; }

.forms-radio:checked + label:after {
  opacity: 1;
  outline: none; }

.select-block {
  position: relative; }

.select-btn {
  width: 58px;
  height: 45px;
  border-radius: 2px;
  background-color: #00aafe;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .select-btn:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: translateY(-3px) rotate(135deg); }

.festivals__inner {
  position: relative; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.select {
  display: inline-block;
  vertical-align: top;
  width: 369px;
  position: relative;
  z-index: 22; }

.select-wrap {
  max-width: 700px;
  width: 100%;
  margin: 20px auto; }

.select-wrap select {
  margin: 20px; }

.select__gap {
  background: #fff;
  color: #686868;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  height: 45px; }

.select__list {
  background: #fff;
  border: none;
  box-shadow: 0 1px 30px 5px rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  margin: 0px 0;
  height: 226px;
  overflow-y: scroll; }

.select__list.on {
  display: block; }

.select__item span {
  display: block;
  padding: 13px 19px;
  cursor: pointer;
  color: #686868;
  position: relative; }

.select__item:first-child span:after {
  content: '02.06-09.06';
  position: absolute;
  right: 70px;
  top: 12px;
  z-index: 222; }

.select__item:nth-child(2) span:after {
  content: '09.06-16.06';
  position: absolute;
  right: 70px;
  top: 12px;
  z-index: 222; }

.select__item:nth-child(3) span:after {
  content: '10.06-23.06';
  position: absolute;
  right: 70px;
  top: 12px;
  z-index: 222; }

.select__item:last-child span:after {
  content: '09.06-16.06';
  position: absolute;
  right: 70px;
  top: 12px;
  z-index: 222; }

.select__item.selected,
.select__item span:hover {
  color: #00aafe;
  background-color: #f8f8f8; }

.select__gap:after {
  content: '';
  width: 58px;
  height: 45px;
  border-radius: 2px;
  background-color: #00aafe;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.select__gap:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 19px;
  z-index: 2;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(135deg); }

.on.select__gap:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 18px;
  right: 19px;
  z-index: 2;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(-45deg); }

.main__table {
  margin-top: 60px;
  margin-bottom: 170px;
  border-collapse: collapse; }
  .main__table th {
    border: 1px solid #d7d7d7;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 700; }
    .main__table th:first-child {
      width: 273px; }
    .main__table th:last-child {
      width: 194px; }
    .main__table th:nth-child(2) {
      width: 215px; }
    .main__table th:nth-child(3) {
      width: 175px; }
  .main__table td {
    border: 1px solid #d7d7d7;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 19px;
    font-weight: 500; }

.tabble-bg {
  background-color: rgba(0, 170, 254, 0.1); }

.select-absolute {
  position: absolute !important;
  top: 24px; }

.collective .periods__input_big {
  margin-bottom: 0; }

.collective .section__title {
  margin-bottom: 58px; }

.collective .festivals__inner {
  margin-right: 20px;
  width: 564px; }
  .collective .festivals__inner .select {
    width: 564px; }

.collective__btn {
  margin-top: 20px;
  margin-bottom: 241px; }

.collective .periods {
  margin-bottom: 40px; }
  .collective .periods_str {
    margin-left: 0; }
  .collective .periods_trans {
    margin-bottom: 59px !important; }
  .collective .periods_title {
    margin-bottom: 32px; }
  .collective .periods_transport {
    margin-bottom: 8px !important; }

.periods__name {
  width: 100px;
  margin-right: 93px;
  font-weight: 500; }
  .periods__name_wide {
    width: 173px;
    margin-right: 42px; }
  .periods__name_title {
    font-weight: 700; }
    .periods__name_title:first-child {
      margin-right: 62px; }
    .periods__name_title:nth-child(2) {
      margin-right: 89px; }
    .periods__name_title:nth-child(3) {
      margin-right: 12px; }
    .periods__name_title:nth-child(4) {
      margin-right: 17px; }
  .periods__name_str {
    font-weight: 700; }
    .periods__name_str:first-child {
      margin-right: 115px; }
    .periods__name_str:nth-child(2) {
      margin-right: 95px; }
    .periods__name_str:nth-child(3) {
      margin-right: 95px; }
    .periods__name_str:nth-child(4) {
      margin-right: 90px; }
  .periods__name_transport {
    margin-right: 93px !important; }

.periods__date_dollar {
  position: relative; }

.dollar-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  width: 25px;
  height: 45px;
  background-color: #00aafe;
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 1; }

.dollar-select {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 9999;
  height: 86px;
  box-shadow: 0 1px 30px 5px rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 11px; }
  .dollar-select .val {
    cursor: pointer;
    width: 77px;
    height: 27px;
    color: #686868;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px; }
    .dollar-select .val span {
      font-size: 10px; }
    .dollar-select .val:hover {
      background-color: #f8f8f8;
      color: #00aafe; }

.periods__input_tab {
  margin-right: 40px; }

.economy {
  position: relative; }
  .economy:before {
    content: 'Эконом';
    font-weight: 500;
    position: absolute;
    top: -28px;
    left: 0; }

.lux {
  position: relative; }
  .lux:before {
    content: 'Люкс';
    font-weight: 500;
    position: absolute;
    top: -28px;
    left: 0; }

.month {
  position: relative; }
  .month:before {
    content: 'М';
    font-weight: 500;
    position: absolute;
    top: -28px;
    left: 30px; }

.day {
  position: relative; }
  .day:before {
    content: 'Д';
    font-weight: 500;
    position: absolute;
    top: -28px;
    left: 30px; }

.day-j {
  position: relative; }
  .day-j:before {
    content: 'Ж';
    font-weight: 500;
    position: absolute;
    top: -28px;
    left: 30px; }

.add-btn {
  width: 173px;
  height: 45px;
  box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
  border-radius: 2px;
  border: 1px solid #00aafe;
  margin-right: 43px;
  color: #00aafe; }
  .add-btn span {
    margin-left: 5px;
    font-size: 25px; }

.checkbox {
  display: none; }

label {
  cursor: pointer; }

.checkbox + label:before {
  cursor: pointer;
  content: "";
  display: inline-block;
  margin: 0 13px 0 0;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background: url("../img-min/check-border.svg") no-repeat center;
  background-size: cover; }

input[type=checkbox]:checked + label:before {
  cursor: pointer;
  content: "";
  display: inline-block;
  margin: 0 13px 0 0;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background: url("../img-min/check-all.svg") no-repeat center;
  background-size: cover; }

.check {
  padding-top: 24px;
  color: #686868;
  font-size: 15px;
  font-weight: 500; }

.before {
  position: relative; }
  .before:after {
    content: 'К оплате';
    font-weight: 500;
    color: #686868;
    font-size: 15px;
    position: absolute;
    top: -28px;
    left: 0; }

.after {
  position: relative; }
  .after:after {
    content: 'Оплачено';
    font-weight: 500;
    color: #686868;
    font-size: 15px;
    position: absolute;
    top: -28px;
    left: 0; }

.transport-btn {
  margin-right: 18px;
  width: 175px;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #00aafe;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500; }
  .transport-btn svg {
    margin-right: 15px; }
  .transport-btn path {
    fill: #00aafe; }
  .transport-btn_active {
    box-shadow: 0 14px 25px rgba(110, 228, 215, 0.25);
    background-color: #6ee4d7;
    color: #ffffff; }
    .transport-btn_active path {
      fill: #fff; }

.table-collective .dollar-btn {
  right: 20px; }

.table-collective .comment-input {
  width: 1148px; }

.live .row__btns {
  display: flex; }

.live .info__btn {
  width: 368px;
  height: 49px;
  box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
  border-radius: 2px;
  border: 1px solid #00aafe;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 22px; }

.corpus .periods_title {
  margin-left: 0; }

.corpus .periods__name_title:first-child {
  font-weight: 500;
  margin-right: 129px; }

.corpus .periods__name_title:nth-child(2) {
  margin-right: 160px; }

.corpus .periods__name_title:nth-child(3) {
  margin-right: 115px; }

.corpus .periods__name_title:nth-child(4) {
  margin-right: 110px; }

.corpus .periods__name_title:nth-child(5) {
  margin-right: 85px; }

.corpus .periods_title {
  margin-bottom: 59px; }

.corpus .row__btns {
  display: flex; }

.corpus .info__btn {
  width: 242px;
  height: 49px;
  box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
  border-radius: 2px;
  border: 1px solid #00aafe;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 22px; }

.passport .periods__input_big {
  margin-bottom: 0; }

.passport .check {
  padding-top: 0; }

.passport .collective__btn {
  margin-top: 40px; }

.passport .row__btns {
  display: flex; }

.passport .info__btn {
  width: 242px;
  height: 49px;
  box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
  border-radius: 2px;
  border: 1px solid #00aafe;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 22px; }

.services .forms__title {
  color: #686868;
  font-size: 15px;
  font-weight: 700; }

.services .textarea {
  width: 271px;
  height: 260px;
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  padding-bottom: 200px; }

.min-input .periods__input_tab {
  margin-right: 20px; }

.min-input .max-width {
  max-width: 1100px; }

.width-1160 {
  width: 1160px; }

.neg-top {
  margin-top: -42px; }

.periods__date {
  position: relative; }

.error-input {
  color: #f25580;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.04px;
  position: absolute;
  bottom: -20px;
  z-index: 222; }

.error-border {
  border: 1px solid #f25580; }

.individual .periods__input_small {
  margin-bottom: 30px; }

.individual .periods__input_medium {
  margin-bottom: 30px; }

.individual .periods {
  align-items: flex-start; }

.individual .select__list {
  position: absolute;
  z-index: 1; }

.individual .comment-input {
  width: 857px;
  margin-top: 10px; }

.individual .padding {
  margin-bottom: 20px; }

.individual .periods__input_small {
  margin-bottom: 0; }

.individual .periods__input_medium {
  margin-bottom: 0; }

.row__btns {
  display: flex;
  margin-top: 48px;
  margin-bottom: 40px; }

.age-btn {
  width: 174px;
  height: 49px;
  box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
  border-radius: 2px;
  border: 1px solid #00aafe;
  color: #00aafe;
  margin-right: 21px; }
  .age-btn_active {
    background-color: rgba(0, 170, 254, 0.2);
    color: #00aafe; }

.sex {
  display: flex;
  margin-bottom: 30px;
  margin-right: 19px; }
  .sex__type {
    cursor: pointer; }
  .sex__type:first-child {
    margin-right: 8px; }
  .sex__type:nth-child(2) {
    margin-right: 8px; }

.festivals__inner_small {
  margin-bottom: 30px;
  margin-right: 19px; }
  .festivals__inner_small .select__list {
    width: 76px; }
  .festivals__inner_small .select {
    width: 76px; }
  .festivals__inner_small .select__gap:after {
    width: 25px;
    height: 44px; }
  .festivals__inner_small .select__gap:before {
    top: 14px;
    right: 6px;
    width: 10px;
    height: 10px; }
  .festivals__inner_small .select__item span:after {
    display: none; }

.festivals__inner_wide {
  margin-right: 20px; }
  .festivals__inner_wide .select {
    width: 564px; }
  .festivals__inner_wide .select__list {
    width: 564px; }
  .festivals__inner_wide .select__item span:after {
    display: none; }

.row__check {
  display: flex; }
  .row__check .check {
    margin-right: 51px; }

.individual__btn {
  width: 174px !important; }

.individual__row {
  margin-top: 0 !important; }

.client-statistic .client-statistic__active {
  width: 173px;
  height: 49px;
  border-radius: 2px;
  border: 1px solid #00aafe;
  background-color: rgba(0, 170, 254, 0.2);
  color: #00aafe;
  font-size: 15px;
  font-weight: 500;
  margin-right: 22px; }

.client-statistic .client-statistic__unactive {
  width: 173px;
  height: 49px;
  border-radius: 2px;
  border: 1px solid #00aafe;
  background-color: #fff;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500; }

.client-statistic .client-statistic__nonactive {
  width: 174px;
  height: 49px;
  box-shadow: 0 14px 25px #6ee4d7;
  border-radius: 2px;
  background-color: #6ee4d7;
  margin-left: 21px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500; }

.client-statistic .forms-radio + label {
  padding: 0 15px 0 28px; }

.client-statistic .forms .periods {
  align-items: flex-start; }

.client-statistic .forms .festivals_padding {
  margin-right: 22px; }

.client-statistic .main__table {
  margin-top: 40px;
  margin-bottom: 28px; }
  .client-statistic .main__table th {
    border: none;
    text-align: left;
    padding-left: 19px; }
    .client-statistic .main__table th:first-child {
      width: 195px; }
    .client-statistic .main__table th:last-child {
      width: 171px; }
    .client-statistic .main__table th:nth-child(2) {
      width: 90px; }
    .client-statistic .main__table th:nth-child(3) {
      width: 90px; }
    .client-statistic .main__table th:nth-child(4) {
      width: 95px; }
    .client-statistic .main__table th:nth-child(5) {
      width: 150px; }
    .client-statistic .main__table th:nth-child(6) {
      width: 130px; }
    .client-statistic .main__table th:nth-child(7) {
      width: 100px; }
    .client-statistic .main__table th:nth-child(8) {
      width: 100px; }
    .client-statistic .main__table th:nth-child(9) {
      width: 170px; }
  .client-statistic .main__table td {
    border: none;
    text-align: left; }

.d-flex {
  display: flex; }

.m-top {
  margin-top: 48px; }

.m-bottom {
  margin-bottom: 76px; }

.t-center {
  text-align: center !important; }

.add-left {
  margin-left: 280px; }

.concat {
  width: 1110px;
  display: flex;
  justify-content: center; }
  .concat__item {
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none; }
    .concat__item-active {
      text-decoration: underline;
      font-weight: 700; }

.diagramma .client-statistic__active {
  width: 173px;
  height: 49px;
  border-radius: 2px;
  border: 1px solid #00aafe;
  background-color: #fff;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500;
  margin-right: 22px; }

.diagramma .client-statistic__unactive {
  width: 173px;
  height: 49px;
  border-radius: 2px;
  border: 1px solid #00aafe;
  background-color: #fff;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500; }

.diagramma .diagramma-btn-color {
  background-color: rgba(0, 170, 254, 0.2);
  color: #00aafe; }

.diagramma__desc {
  color: #686868;
  font-size: 15px;
  font-weight: 500;
  margin-right: 43px;
  margin-bottom: 25px;
  position: relative; }
  .diagramma__desc:before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -21px; }
  .diagramma__desc_1:before {
    background-color: #b055f6; }
  .diagramma__desc_2:before {
    background-color: #6ee4d7; }
  .diagramma__desc_3:before {
    background-color: #ffe42c; }
  .diagramma__desc_4:before {
    background-color: #f25580; }
  .diagramma__desc_5:before {
    background-color: #00aafe; }
  .diagramma__desc_6:before {
    background-color: #a4ef62; }
  .diagramma__desc_7:before {
    background-color: #334db7; }

.d-flex-column {
  flex-direction: column; }

.diagramma__inner {
  margin-bottom: 100px;
  margin-top: 15px;
  position: relative; }

.diagramma__inner-grid span {
  color: #686868;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.28px;
  text-align: right;
  margin-right: 4px;
  width: 37px; }

.diagramma__inner-grid .dashed {
  width: 1107px;
  height: 1px;
  border: 1px dashed #bbbbbb; }

.diagramma__inner-grid .d-flex {
  align-items: center;
  margin-bottom: 57px; }

.columns {
  display: flex;
  position: absolute;
  bottom: -46px;
  left: 50px;
  z-index: 1; }

.column {
  display: flex;
  flex-direction: column;
  margin-right: 23px;
  width: 43px;
  justify-content: flex-end;
  position: relative; }

.column-item {
  width: 43px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.07px;
  text-align: center; }
  .column-item_after-1:after {
    content: '20';
    color: #f25580;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 50px;
    left: 13px; }
  .column-item_after-2:after {
    content: '8';
    color: #b055f6;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 30px;
    left: 16px; }
  .column-item_after-2:before {
    content: '810';
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 10px;
    left: 10px; }
  .column-item_after-3:after {
    content: '20';
    color: #f25580;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 120px;
    left: 13px; }
  .column-item_after-4:after {
    content: '8';
    color: #b055f6;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 100px;
    left: 16px; }
  .column-item_after-4:before {
    content: '620';
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 80px;
    left: 8px; }
  .column-item_after-5:after {
    content: '15';
    color: #00aafe;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 205px;
    left: 13px; }
  .column-item_after-6:after {
    content: '15';
    color: #8cd54c;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 185px;
    left: 13px; }
  .column-item_after-7:after {
    content: '15';
    color: #ffe42c;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 165px;
    left: 13px; }
  .column-item_after-8:after {
    content: '15';
    color: #f25580;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 145px;
    left: 13px; }
  .column-item_after-9:after {
    content: '15';
    color: #b055f6;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 125px;
    left: 13px; }
  .column-item_after-9:before {
    content: '250';
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07px;
    position: absolute;
    top: 105px;
    left: 8px; }
  .column-item_1 {
    height: 11px;
    background-color: #b055f6; }
  .column-item_2 {
    height: 14px;
    background-color: #f25580; }
  .column-item_3 {
    height: 26px;
    background-color: #ffe42c; }
  .column-item_4 {
    height: 37px;
    background-color: #8cd54c; }
  .column-item_5 {
    height: 44px;
    background-color: #6ee4d7; }
  .column-item_6 {
    height: 63px;
    background-color: #00aafe; }
  .column-item_7 {
    height: 63px;
    background-color: #334db7; }
  .column-item_8 {
    height: 8px;
    background-color: #b055f6; }
  .column-item_9 {
    height: 10px;
    background-color: #f25580; }
  .column-item_10 {
    height: 19px;
    background-color: #ffe42c; }
  .column-item_11 {
    height: 27px;
    background-color: #8cd54c; }
  .column-item_12 {
    height: 31px;
    background-color: #6ee4d7; }
  .column-item_13 {
    height: 46px;
    background-color: #00aafe; }
  .column-item_14 {
    height: 46px;
    background-color: #334db7; }
  .column-item_15 {
    height: 4px;
    background-color: #b055f6; }
  .column-item_16 {
    height: 6px;
    background-color: #f25580; }
  .column-item_17 {
    height: 10px;
    background-color: #ffe42c; }
  .column-item_18 {
    height: 15px;
    background-color: #8cd54c; }
  .column-item_19 {
    height: 17px;
    background-color: #6ee4d7; }
  .column-item_20 {
    height: 25px;
    background-color: #00aafe; }
  .column-item_21 {
    height: 25px;
    background-color: #334db7; }
  .column-item_22 {
    height: 1px;
    background-color: #b055f6; }
  .column-item_23 {
    height: 2px;
    background-color: #f25580; }
  .column-item_24 {
    height: 3px;
    background-color: #ffe42c; }
  .column-item_25 {
    height: 4px;
    background-color: #8cd54c; }
  .column-item_26 {
    height: 5px;
    background-color: #6ee4d7; }
  .column-item_27 {
    height: 7px;
    background-color: #00aafe; }
  .column-item_28 {
    height: 7px;
    background-color: #334db7; }
  .column-item_29 {
    height: 2px;
    background-color: #b055f6; }
  .column-item_30 {
    height: 4px;
    background-color: #f25580; }
  .column-item_31 {
    height: 6px;
    background-color: #ffe42c; }
  .column-item_32 {
    height: 8px;
    background-color: #8cd54c; }
  .column-item_33 {
    height: 10px;
    background-color: #6ee4d7; }
  .column-item_34 {
    height: 14px;
    background-color: #00aafe; }
  .column-item_35 {
    height: 14px;
    background-color: #334db7; }
  .column-item_36 {
    height: 5px;
    background-color: #b055f6; }
  .column-item_37 {
    height: 7px;
    background-color: #f25580; }
  .column-item_38 {
    height: 13px;
    background-color: #ffe42c; }
  .column-item_39 {
    height: 19px;
    background-color: #8cd54c; }
  .column-item_40 {
    height: 22px;
    background-color: #6ee4d7; }
  .column-item_41 {
    height: 31px;
    background-color: #00aafe; }
  .column-item_42 {
    height: 31px;
    background-color: #334db7; }
  .column-item_43 {
    height: 8px;
    background-color: #b055f6; }
  .column-item_44 {
    height: 11px;
    background-color: #f25580; }
  .column-item_45 {
    height: 19px;
    background-color: #ffe42c; }
  .column-item_46 {
    height: 28px;
    background-color: #8cd54c; }
  .column-item_47 {
    height: 32px;
    background-color: #6ee4d7; }
  .column-item_48 {
    height: 48px;
    background-color: #00aafe; }
  .column-item_49 {
    height: 48px;
    background-color: #334db7; }
  .column-item_50 {
    height: 11px;
    background-color: #b055f6; }
  .column-item_51 {
    height: 14px;
    background-color: #f25580; }
  .column-item_52 {
    height: 25px;
    background-color: #ffe42c; }
  .column-item_53 {
    height: 37px;
    background-color: #8cd54c; }
  .column-item_54 {
    height: 42px;
    background-color: #6ee4d7; }
  .column-item_55 {
    height: 62px;
    background-color: #00aafe; }
  .column-item_56 {
    height: 62px;
    background-color: #334db7; }
  .column-item_57 {
    height: 14px;
    background-color: #b055f6; }
  .column-item_58 {
    height: 18px;
    background-color: #f25580; }
  .column-item_59 {
    height: 33px;
    background-color: #ffe42c; }
  .column-item_60 {
    height: 48px;
    background-color: #8cd54c; }
  .column-item_61 {
    height: 55px;
    background-color: #6ee4d7; }
  .column-item_62 {
    height: 81px;
    background-color: #00aafe; }
  .column-item_63 {
    height: 81px;
    background-color: #334db7; }
  .column-item_64 {
    height: 11px;
    background-color: #b055f6; }
  .column-item_65 {
    height: 14px;
    background-color: #f25580; }
  .column-item_66 {
    height: 26px;
    background-color: #ffe42c; }
  .column-item_67 {
    height: 37px;
    background-color: #8cd54c; }
  .column-item_68 {
    height: 44px;
    background-color: #6ee4d7; }
  .column-item_69 {
    height: 63px;
    background-color: #00aafe; }
  .column-item_70 {
    height: 63px;
    background-color: #334db7; }
  .column-item_71 {
    height: 8px;
    background-color: #b055f6; }
  .column-item_72 {
    height: 10px;
    background-color: #f25580; }
  .column-item_73 {
    height: 19px;
    background-color: #ffe42c; }
  .column-item_74 {
    height: 27px;
    background-color: #8cd54c; }
  .column-item_75 {
    height: 31px;
    background-color: #6ee4d7; }
  .column-item_76 {
    height: 46px;
    background-color: #00aafe; }
  .column-item_77 {
    height: 46px;
    background-color: #334db7; }
  .column-item_78 {
    height: 4px;
    background-color: #b055f6; }
  .column-item_79 {
    height: 6px;
    background-color: #f25580; }
  .column-item_80 {
    height: 10px;
    background-color: #ffe42c; }
  .column-item_81 {
    height: 15px;
    background-color: #8cd54c; }
  .column-item_82 {
    height: 17px;
    background-color: #6ee4d7; }
  .column-item_83 {
    height: 25px;
    background-color: #00aafe; }
  .column-item_84 {
    height: 25px;
    background-color: #334db7; }
  .column-item_85 {
    height: 1px;
    background-color: #b055f6; }
  .column-item_86 {
    height: 2px;
    background-color: #f25580; }
  .column-item_87 {
    height: 3px;
    background-color: #ffe42c; }
  .column-item_88 {
    height: 4px;
    background-color: #8cd54c; }
  .column-item_89 {
    height: 5px;
    background-color: #6ee4d7; }
  .column-item_90 {
    height: 7px;
    background-color: #00aafe; }
  .column-item_91 {
    height: 7px;
    background-color: #334db7; }
  .column-item_92 {
    height: 2px;
    background-color: #b055f6; }
  .column-item_93 {
    height: 4px;
    background-color: #f25580; }
  .column-item_94 {
    height: 6px;
    background-color: #ffe42c; }
  .column-item_95 {
    height: 8px;
    background-color: #8cd54c; }
  .column-item_96 {
    height: 10px;
    background-color: #6ee4d7; }
  .column-item_97 {
    height: 14px;
    background-color: #00aafe; }
  .column-item_98 {
    height: 14px;
    background-color: #334db7; }
  .column-item_99 {
    height: 5px;
    background-color: #b055f6; }
  .column-item_100 {
    height: 7px;
    background-color: #f25580; }
  .column-item_101 {
    height: 13px;
    background-color: #ffe42c; }
  .column-item_102 {
    height: 19px;
    background-color: #8cd54c; }
  .column-item_103 {
    height: 22px;
    background-color: #6ee4d7; }
  .column-item_104 {
    height: 31px;
    background-color: #00aafe; }
  .column-item_105 {
    height: 31px;
    background-color: #334db7; }
  .column-item_106 {
    height: 8px;
    background-color: #b055f6; }
  .column-item_107 {
    height: 11px;
    background-color: #f25580; }
  .column-item_108 {
    height: 19px;
    background-color: #ffe42c; }
  .column-item_109 {
    height: 28px;
    background-color: #8cd54c; }
  .column-item_110 {
    height: 32px;
    background-color: #6ee4d7; }
  .column-item_111 {
    height: 48px;
    background-color: #00aafe; }
  .column-item_112 {
    height: 48px;
    background-color: #334db7; }
  .column-item_113 {
    height: 11px;
    background-color: #b055f6; }
  .column-item_114 {
    height: 14px;
    background-color: #f25580; }
  .column-item_115 {
    height: 25px;
    background-color: #ffe42c; }
  .column-item_116 {
    height: 37px;
    background-color: #8cd54c; }
  .column-item_117 {
    height: 42px;
    background-color: #6ee4d7; }
  .column-item_118 {
    height: 62px;
    background-color: #00aafe; }
  .column-item_119 {
    height: 62px;
    background-color: #334db7; }

.column-desc {
  color: #686868;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px; }

.diagramma__table {
  border-collapse: collapse;
  margin-top: 100px;
  margin-bottom: 50px; }
  .diagramma__table th {
    border: 1px solid #e6e8f1;
    color: #717171;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    background-color: rgba(0, 170, 254, 0.1);
    height: 53px;
    padding-left: 14px;
    padding-right: 10px; }
  .diagramma__table td {
    border: 1px solid #e6e8f1;
    color: #717171;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    height: 40px;
    padding-left: 14px;
    padding-right: 10px; }
  .diagramma__table .table__bg {
    background-color: rgba(0, 170, 254, 0.1) !important; }

.bold {
  font-weight: 700 !important; }

.text-left {
  text-align: left !important; }

.festivals-control__btn {
  width: 271px;
  height: 49px;
  box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
  border-radius: 2px;
  background-color: #00aafe;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 50px; }

.festivals-control__title {
  color: #686868;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 40px; }

.festivals-control__main-title {
  color: #686868;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 48px; }

.festivals-control__table {
  border-collapse: collapse;
  width: 1052px;
  margin-bottom: 150px; }
  .festivals-control__table th {
    font-weight: 700;
    font-size: 15px;
    color: #686868;
    text-align: left;
    padding-left: 20px;
    height: 45px; }
  .festivals-control__table td {
    color: #686868;
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;
    height: 45px; }
  .festivals-control__table .row-bg {
    background-color: #def4ff; }
  .festivals-control__table svg {
    margin-left: -20px; }

.text-center {
  text-align: center; }

.corpus__table {
  width: 661px; }

.corpus-modals__inner {
  width: 565px;
  height: 358px;
  border-radius: 2px;
  background-color: #ffffff;
  margin-top: 20vh; }
  .corpus-modals__inner .m-top {
    margin-top: 20px; }

.corpus-modals__title {
  color: #686868;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }

.corpus-modals__text {
  font-weight: 700;
  margin-left: 54px;
  margin-top: -20px; }

.justify-between {
  justify-content: space-between;
  align-items: center; }

.corpus-modals__input {
  width: 272px;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  margin-right: 99px;
  margin-bottom: 20px; }

.info-modals__text {
  margin-right: 99px;
  margin-left: 20px;
  color: #686868;
  font-size: 15px;
  font-weight: 500;
  text-align: left; }

.justify-center {
  justify-content: center; }

.nonactive-btn {
  width: 174px;
  height: 49px;
  border-radius: 2px;
  border: 1px solid #00aafe;
  color: #00aafe;
  font-size: 15px;
  font-weight: 500;
  margin-right: 21px; }

.festivals-modals__inner {
  width: 565px;
  height: 753px;
  border-radius: 2px;
  background-color: #ffffff;
  margin-top: 20vh; }
  .festivals-modals__inner .m-top {
    margin-top: 20px; }
  .festivals-modals__inner .m-left {
    margin-left: 40px; }
  .festivals-modals__inner .m-right {
    margin-right: 55px; }
  .festivals-modals__inner .m-left-2 {
    margin-left: 80px; }
  .festivals-modals__inner .check {
    padding-top: 0;
    padding-bottom: 20px; }
    .festivals-modals__inner .check label {
      margin-right: 24px; }
  .festivals-modals__inner .justify-start {
    justify-content: start; }

.date-input {
  width: 128px;
  margin-right: 0; }
  .date-input:first-child {
    margin-right: 15px; }

.align-center {
  align-items: center; }

.info-modals .wide {
  width: 120px; }

.info-modals .d-flex {
  margin-bottom: 46px; }

.info-modals .d-flex_m-bottom {
  margin-bottom: 0; }

.info-modals .corpus-modals__text {
  margin-top: 0; }

.info-modals .check {
  margin-top: 15px; }

.remove-mod {
  height: 250px;
  margin-top: 50vh; }

.enter {
  height: 965px;
  background: #264261 url("../img-min/enter-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center; }
  .enter__inner {
    margin-top: 20vh;
    width: 565px;
    height: 576px;
    box-shadow: 0 2px 25px 15px rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .enter__title {
    width: 260px;
    color: #686868;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 50px 0; }
  .enter__input {
    width: 370px;
    height: 45px;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 20px; }
    .enter__input::placeholder {
      color: #717171;
      opacity: 0.5;
      font-size: 16px;
      font-weight: 500; }
  .enter .check {
    align-self: flex-start;
    margin-left: 97px;
    color: #686868;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 60px; }
  .enter__btn {
    width: 174px;
    height: 49px;
    box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
    border-radius: 2px;
    background-color: #00aafe;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 60px; }

.reg-page {
  margin-right: 20px;
  color: #00aafe;
  font-weight: 500; }

.forgot-page {
  margin-right: 20px;
  color: #00aafe;
  font-weight: 500; }

.input_password {
  position: relative; }
  .input_password:after {
    content: '';
    display: block;
    width: 21px;
    height: 12px;
    background: url("../img-min/eye.svg") no-repeat center;
    background-size: cover;
    position: absolute;
    right: 22px;
    top: 16px;
    z-index: 1;
    cursor: pointer; }

.reg {
  height: 965px;
  background: #264261 url("../img-min/enter-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center; }
  .reg__inner {
    margin-top: 20vh;
    width: 565px;
    height: 603px;
    box-shadow: 0 2px 25px 15px rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .reg__title {
    color: #686868;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 50px 0; }
  .reg__form {
    display: flex;
    justify-content: space-between;
    height: 306px; }
  .reg__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
    color: #717171;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px; }
  .reg__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .reg__input {
    width: 272px;
    height: 45px;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    padding-left: 21px;
    font-size: 16px;
    font-weight: 500; }
  .reg__btns {
    display: flex;
    justify-content: center;
    margin-top: 65px; }
  .reg__btn {
    width: 174px;
    height: 49px;
    box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
    border-radius: 2px;
    border: 1px solid #00aafe;
    color: #00aafe;
    font-size: 15px;
    font-weight: 500;
    margin-right: 21px; }
    .reg__btn_blue {
      background-color: #00aafe;
      color: #ffffff;
      margin-right: 0; }

.password-check {
  position: relative; }
  .password-check:after {
    content: '';
    display: block;
    width: 14px;
    height: 10px;
    background: url("../img-min/password-check.svg") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 16px;
    right: 30px;
    z-index: 1; }

.forgot__inner {
  width: 565px;
  height: 344px;
  box-shadow: 0 2px 25px 15px rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  background-color: #ffffff; }
  .forgot__inner .reg__btns {
    margin-bottom: 50px; }
