.festivals-control {

    &__btn {
        width: 271px;
        height: 49px;
        box-shadow: 0 14px 25px rgba(0, 170, 254, 0.25);
        border-radius: 2px;
        background-color: #00aafe;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    &__title {
        color: #686868;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &__main-title {
        color: #686868;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 48px;
    }

    &__table {
        border-collapse: collapse;
        width: 1052px;
        margin-bottom: 150px;

        & th {
            font-weight: 700;
            font-size: 15px;
            color: #686868;
            text-align: left;
            padding-left: 20px;
            height: 45px;
        }

        td {
            color: #686868;
            font-size: 15px;
            font-weight: 500;
            padding-left: 20px;
            height: 45px;
        }

        & .row-bg {
            background-color: #def4ff;
        }

        & svg {
            margin-left: -20px;
        }
    }
}

.text-center {
    text-align: center;
}