.corpus-modals__inner {
    width: 565px;
    height: 358px;
    border-radius: 2px;
    background-color: #ffffff;
    margin-top: 20vh;

    & .m-top {
        margin-top: 20px;
    }
}

.corpus-modals__title {
    color: #686868;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.corpus-modals__text {
    font-weight: 700;
    margin-left: 54px;
   // margin-right: 55px;
    margin-top: -20px;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.corpus-modals__input {
    width: 272px;
    height: 45px;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    margin-right: 99px;
    margin-bottom: 20px;
}

.info-modals__text {
    margin-right: 99px;
    margin-left: 20px;  
    color: #686868;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.justify-center {
    justify-content: center;
}

.nonactive-btn {
    width: 174px;
    height: 49px;
    border-radius: 2px;
    border: 1px solid #00aafe;
    color: #00aafe;
    font-size: 15px;
    font-weight: 500;
    margin-right: 21px;
}

.festivals-modals__inner {
    width: 565px;
    height: 753px;
    border-radius: 2px;
    background-color: #ffffff;
    margin-top: 20vh;

    & .m-top {
        margin-top: 20px;
    }

    & .m-left {
        margin-left: 40px;
    }

    & .m-right {
        margin-right: 55px;
    }

    & .m-left-2 {
        margin-left: 80px;
    }

    .check {
        padding-top: 0;
        padding-bottom: 20px;

        & label {
            margin-right: 24px;
        }
    }

    .justify-start {
        justify-content: start;
    }
}

.date-input {
    width: 128px;
    margin-right: 0;

    &:first-child {
        margin-right: 15px;
    }
}

.align-center {
    align-items: center;
}

.info-modals {
    & .wide {
        width: 120px;
    }

    & .d-flex {
        margin-bottom: 46px;
    }

    & .d-flex_m-bottom {
        margin-bottom: 0;
    }

    & .corpus-modals__text {
        margin-top: 0;
    }

    & .check {
        margin-top: 15px;
    }


}